.navigation-expanded {
  width: 100%;
  min-height: 135px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.navigation-expanded-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}







